body {
    max-width: 945px; /* the pixel amount for 25 cm screen width */
    width: 100%;
    font-family: 'Inter', serif;
    margin: 2px;
}

/* Selectors related to the "look" of the overall page */
a.title {
    text-decoration: none;
}
div.red_stripe {
    /* hex for red stripe obtained from: https://www.flagcolorcodes.com/usa */
    background-color: #B31942; /* red stripe */
    border: 2px solid black;
    color: white; /* set text color to white inside a black stripe */
    display: block;
    position: relative;
}
div.stars {
    /* Starry image designed for left side of red stripes */
    background-image: url("../images/flag_stars.jpg");
    background-size: 100%;
    width: 15%;
    height: 100%;
    display: block;
    float: left;
    border: 1px solid black;
    position: absolute; /* Position star image relative to stripe container */
    top: 0;
    bottom: 0;
}
div.white_stripe {
    background-color: #FFFFFF; /* white stripe */
    border: 2px solid black;
    color: black; /* set text color to black inside a white stripe */
    display: block;
    position: relative;
}
/* Add small amount of "breathing room" between text/elements on a stripe and the stripe border */
div.red_stripe h3,p,ul,ol,img {
    margin: 10px;
}
div.white_stripe h3,p,ul,ol,img {
    margin: 10px;
}
div#top_stripe {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100px;
    width: inherit; /* inherit both width and max-width from page body */
    max-width: inherit;
    display: flex;
    z-index: 10;
}
div.container { /* for div blocks meant to be a "container" for other div blocks */
    display: flex;
    flex-wrap: wrap; /* have elements wrap if not enough screen width */
    justify-content: center; /* center elements horizontally */
    align-items: center; /* center elements vertically */
}
div.stripe_inner { /* for div blocks inside a stripe containing a star background */
    display: block;
    margin-left: 15%; /* start this block to the right of the block containing the stars image */
    width: 85%;
}
div#header_padding { /* to pad space between the page header and content */
    width: 100%;
    height: 150px;
}
div#footer_padding { /* to pad space between content and page footer */
    width: 100%;
    height: 20px;
}
div#footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 20px;
    width: inherit; /* inherit both width and max-width from page body */
    max-width: inherit;
    display: flex;
    z-index: 10;
}
div.footer_elem {
    width: 50%;
    height: 100%;
    display: inline-block;
    border: 1px solid black;
    text-align: center;
}

/* Selectors related to navigation functionality */
div#navigation_stripe {
    display: flex;
    position: fixed;
    top: 100px;
    left: 0px;
    height: 50px;
    width: inherit;
    max-width: inherit;
    z-index: 10;
}
div.navigation { /* For single navigation button */
    display: flex;
    border: 1px solid black;
    justify-content: center; /* center text horizontally */
    align-items: center; /* center text vertically */
    font-family: 'Protest Revolution', serif;
    font-size: 20px;
    background: white;
    color: black; /* font color */

    /* Width and height are relative to the anchor tag with styling specified by a.navigation */
    width: 100%;
    height: 100%;
}
div#navigation_current,div.navigation:hover { /* For navigation button corresponding to current page,
                                                 or when hovering over another navigation button */
    /* hex for blue color obtained from: https://www.flagcolorcodes.com/usa */
    background: #0A3161;
    color: white; /* font color */
}
a.navigation { /* For navigation links */
    width: 20%;
    max-width: 20%;
    height: 100%;
    margin: 0 auto;
    text-decoration: none;
}

/* Selectors related to presentation of text */
h1,.title {
    font-family: 'Tangerine', serif;
    font-size: 66px;
    color: white;
    display: flex;
    justify-content: center; /* center text horizontally */
    align-items: center; /* center text vertically */
    margin: 0 auto;

    /* Ensure that link attached to page title spans entire container */
    width: 100%;
    height: 100%;
}
ul {
    list-style-type: "\2606"; /* set bullet point to star symbol */
}
ul li {
    padding-left: 10px; /* add a little space between bullet point and text */
}

/* Adjust fonts for smaller screen sizes */
@media (max-width: 945px) { /* screen size smaller than max screen width */
    h1,title {
        font-size: 50px;
    }
    div.navigation {
        font-size: 18px;
    }
}
@media (max-width: 480px) { /* approximate phone screen size */
    h1,title {
        font-size: 35px;
    }
    div#top_stripe {
        height: 60px;
    }
    div#navigation_stripe {
        top: 60px;
        height: 40px;
    }
    div.navigation {
        font-size: 15px;
    }
    div#header_padding {
        height: 100px;
    }
}

/* Selectors related to miscellaneous items that appear on multiple pages */
#group_photo { /* Configuration for group photo if it appears on the page */
    background-image: url("../images/banner.jpg");
    background-size: contain;
    max-width: 100%;
    width: 500px;
    aspect-ratio: 954/646; /* make height adjust with width to maintain aspect ratio */
    margin: 0 auto 0 0; /* left justify image */
    display: inline-block;
}
#group_photo_sidetext {
    /* By default, ensure sidetext is small enough to fit to the right of the group photo */
    max-width: 425px;
    height: 100%;
    display: inline-block;
}
@media (max-width: 945px) {
    /* If screen size is too small, place the sidetext below the group photo */
    #group_photo {
        max-width: 500px;
        width: 100%;
        margin: 0;
    }
    #group_photo_sidetext {
        max-width: 100%;
    }
}
