body {
    text-align: center;
    background-color: LightSalmon;
    font-family: 'Inter', serif;
}

h1 {
    font-family: 'Montserrat', serif;
    text-align: center;
    font-size: 44px;
}

/* Styling for tile of wordle grid */
.tile {
    display: inline-flex;
    border: 1px solid black;
    max-width: 55px;
    max-height: 45px;
    width: 20%;
    aspect-ratio: 55/45;
    margin: 1px;
    justify-content: center; /* center text horizontally */
    align-items: center; /* center text vertically */
}

.tile_content {
    font-family: 'DM Serif Display', serif;
    font-size: 35px;
}

.button {
    width: 150px;
    height: 45px;
    background-color: white;
    margin: 5px;
}
/* Make button light up if mouse over it */
.button:hover {
    background-color: brown;
    color: white;
    cursor: pointer;
}

#restartbutton {
    display: none;
}

/* Settings for smaller screen widths */
@media (max-width: 600px) {
    h1 {
        font-size: 30px;
    }
    .tile {
        max-width: 40px;
        max-height: 30px;
    }
    .used_letter_tile { /* make used letter tiles narrower on smaller screen widths */
        width: 8%;
    }

    #guesstext {
        font-size: 12px;
    }

    .button {
        width: 150px;
        height: 30px;
        font-size: 12px;
    }

    .tile_content {
        font-size: 20px;
    }
}